{% extends 'base.html' %}
{% block content %}
  <h2>Login</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-secondary" type="submit">Увійти</button>
  </form>
  <form method="get" action="{% url 'register' %}">
    <button class="btn btn-secondary" type="submit">Зареєструватись</button>
  </form>
{% endblock %}
