{% extends 'base.html' %}

{% block content %}
<body>

 {% if success == False %}
    <div class="alert alert-danger mt-2">
      {{errors}}
    </div>
  {% endif %}
  <h2>Переадресація посилки</h2>
 <p>Послуга доступна лише для клієнтів відправників</p>
    <div class='form-group'>
      <table>
  <form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    </table>
    <button class="btn btn-secondary" type="submit">Вислати Заявку</button>

  </form>
</div>


  </body>
{% endblock %}
